mat-card {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  padding: 10px;
}

.form-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  height: 56px;
}

mat-hint{
  color: red;
}

.submit-Container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}