<mat-toolbar color="primary">
  <button [routerLink]="['/home']" routerLinkActive="active" mat-button>
    Students App
  </button>
  <div>
    <button
      [routerLink]="['/boys']"
      routerLinkActive="active"
      mat-icon-button
      title="Boys"
    >
      <mat-icon>boy</mat-icon>
    </button>

    <button
      [routerLink]="['/girls']"
      routerLinkActive="active"
      mat-icon-button
      title="Girls"
    >
      <mat-icon>girl</mat-icon>
    </button>
  </div>
</mat-toolbar>

